.outerMessagePageContainer {
  width: 100%;
  position: relative;
}

.messagePageHeaderContainer {
  width: 100%;
  background-color: #e8e9ec;
  height: 11vh;
  border-left: solid 1px white;
  box-sizing: border-box;
}

.messagePageInnerHeaderContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messagePageHeaderNameContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem 1.75rem;
}

.messageContentContainer {
  padding-left: 0;
  padding-right: 1rem;
  overflow-y: auto;
  background-color: rgb(243 244 246);
  height: 73vh;
}

.messageContentInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerContainer {
  background-color: #fff;
  direction: ltr;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 8px 0;
}

.innerFooterContainer {
  width: 100%;
}
.InputContainer
{
  width: 98%;
  outline: none;
  border: none;
  background-color: transparent;
  direction: rtl;
  height: 100%;
  padding: 0 6px;
}
.emojiButton {

}

.emojiOuterContainer {
  position: relative;
}

.emojiContainer {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(7%, -105.5%);
  z-index: 1;
}