@font-face {
  font-family: "iranSans2";
  src:
          local("iranSans2"),
          url("./Font/eot/IRANSansWeb(FaNum).eot") format("eot"),
          url("./Font/ttf/IRANSansWeb(FaNum).ttf") format("ttf"),
          url("./Font/woff/IRANSansWeb(FaNum).woff") format("woff"),
          url("./Font/woff2/IRANSansWeb(FaNum).woff2") format("woff2")
}
* {
    font-family: "iranSans2", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  background-color: cadetblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
